@import '../../styles/allutils';

.perform {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    padding: auto;
    background-color: $DARK;

    &__reference {
        position: fixed;
        z-index: 1;
        width: 100%;
        border-top: 1px dashed $GREY;
    }

    &__activity {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $LIGHT;
    }

    &__controls {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 100%;
        padding: 0.25rem;

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4.5rem;
            width: 4.5rem;
            overflow: hidden;
            border-radius: 50%;
            border: none;

            &::after {
                border: none;
            }

            &--switchnote {
                @extend .perform__controls-button;
                background-color: transparent;
                width: 3.25rem;
                height: 2rem;
            }

            &-image {
                width:4.5rem;
                height: 4.5rem;
                object-fit: cover;
                background-color: $DARK;

                &--switchnote {
                    @extend .perform__controls-button;
                    background-color: transparent;
                    width: 3.25rem;
                    height: 2rem;
                }

            }

        }
    }
}