@import '../../styles/allutils';

.menu {
    position: absolute;
    top: 0rem;
    right: 0rem;

    &__container {
        padding-top: 0.5rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: 600px;
        width: 8rem;
        background-color: transparentize($color: $LIGHT, $amount: 0.2);
        border-radius: 0.25rem;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
    }

    &__item {
        cursor: pointer;
        list-style: none;
        padding: 0.25rem 0;
        margin: 0;
        text-align: center;
        
        &:hover {
            border-radius: 0.25rem;
            animation: fadein 0.1s linear forwards;
        }

        & a {

        }
    }
}
