@import '../../styles/allutils';

.menu {
    position: absolute;
    top: 2.5rem;
    right: 1rem;

    &__container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        height: 6.5rem;
        width: 5.5rem;
        background-color: transparentize($color: $LIGHT, $amount: 0.25);
        border: 0.5px solid $GREY;
        border-radius: 0.3rem;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        align-self: center;
    }

    &__item {
        cursor: pointer;
        list-style: none;
        padding: 0.25rem 0;
        margin: 0;
        text-align: center;
        
        &:hover {
            border-radius: 0.3rem;
            animation: fadein 0.1s linear forwards;
        }
    }
}
