//media breakpoints
$desk-minwidth: 1200px; //12 column
$tablet-minwidth: 768px; //6 column
$mobile-minwidth: 320px; //4 column

//colours, solid @ 100% opacity
$DARK: #23242E;
$LIGHT: #F1EDE6;
$GREY: #907F8B;
$RED: #B65245;
$ORANGE: #DC9F6F;