@import './allutils';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'lato';
    font-weight: 400;
    color: $DARK;

    & > a {
        text-decoration-line: none;

        &:visited, &:active {
            color: $DARK;
        }
    }
}

body {
    background-color: white;
}

::after {
    margin: 0;
    box-sizing: border-box;
}

::before {
    margin: 0;
    box-sizing: border-box;
}

.loading__container {
    display: flex;
    justify-content: center;
    align-items: center;
}