@import "../../styles/allutils";

.audiocanvas {

    &__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    &__canvas {
        translate: 0 50%;
        background-color: transparent;
    }
}

.intune {
    text-align: center;
    color: $RED;
    font-weight: 800;
}
