@import '../../styles/allutils';

.nav {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.25rem;
        height: 3.5rem;
        background-color: $DARK;
    }

    &__title {
        font-weight: 400;
        font-size: 1.25rem;
        color: $ORANGE;
        letter-spacing: 0.2rem;
        padding-bottom: 0.4rem;
    }

    &__user-group {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: auto;
    }

    &__user-name {
        font-size: 1rem;
        margin-right: 1rem;
        color: $LIGHT;
    }

    &__logout {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $RED;
        overflow: hidden;
    }

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}